<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
   
</head>
<body>
<div class="container mt-3">
    <h4 class="bg-primary  text-white py-2 text-center">QL user</h4>


    <a class="btn btn-primary  btn-sm mb-2" href="/addUser" data-toggle="modal" data-target="#exampleModal">Thêm người
        dùng</a>
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Thêm người dùng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/save}" method="post" th:object="${user}">
                        <div class="form-group">
                            <label>name</label>
                            <input type="text" class="form-control" th:field="*{name}">

                        </div>
                        <div class="form-group">
                            <label>email</label>
                            <input type="email" class="form-control" th:field="*{email}">
                        </div>
                        <div class="form-group">
                            <label>phone</label>
                            <input type="text" class="form-control" th:field="*{phone}">
                        </div>

                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </form>
                </div>
                <!--                    <div class="modal-footer">-->
                <!--                        <button type="button" class="btn btn-primary">Lưu</button>-->
                <!--                    </div>-->
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">stt</th>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">phone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u,i : ${users}">
            <td th:text="${i.count}" scope="row"></td>
            <th th:text="${u.name}"></th>
            <td th:text="${u.email}"></td>
            <td th:text="${u.phone}"></td>
            <td>
                <a class="btn btn-primary btn-sm" th:href="@{/user/edit/{id}(id=${u.id})}" data-toggle="modal" th:attr="data-target='#modal-edit'+${u.id }">edit</a>
                <!-- Modal -->
                <div class="modal fade"  th:id="modal-edit+${u.id }" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 th:text="'Sửa người dùng ' + ${u.name}" class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/save}" method="post" th:object="${user}">
                                    <div class="form-group">
                                        <label>name</label>
                                        <input type="text" class="form-control" th:field="*{name}">

                                    </div>
                                    <div class="form-group">
                                        <label>email</label>
                                        <input type="email" class="form-control" th:field="*{email}">
                                    </div>
                                    <div class="form-group">
                                        <label>phone</label>
                                        <input type="text" class="form-control" th:field="*{phone}">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>


            <td><a class="btn btn-primary btn-sm" th:href="@{/user/delete/{id}(id=${u.id})}">delete</a></td>



        </tr>

        </tbody>
    </table>
</div>


</body>
</html>